<!-- Title -->
<div class="row title">
  <div class="col-12">
    <h1 id="title" class="text-center nuvolar-font">Nuvolar Search Engine</h1>
  </div>
</div>

<!-- Search input bar and themes -->
<div class="row">  
  <div class="col-10 col-md-11 input-search">
    <div class="input-group mb-3">
      <input class="form-control" #searchUserBox (keyup)="getUsers(searchUserBox.value)" placeholder="Type in a github username"
      />
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-1 themes">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  (click)="onSetTheme('default-theme')">Default</a>
        <a class="dropdown-item"  (click)="onSetTheme('dark-theme')">Dark</a>
        <a class="dropdown-item"  (click)="onSetTheme('light-theme')">Light</a>
      </div>
    </div>
  </div>

</div>

<!-- Results list -->
<div class="row text-left" ng-show="users.length > 0 && username != '' ">
  <div class="col-12">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" *ngFor="let user of users | slice:0:10;" routerLink="/detail/{{user.login}}">
        <img src="{{user.avatar_url}}" width="50" height="50" class="img-circle">
        <span class="span-user-name">{{user.login}}</span>
      </a>
    </div>
  </div>
</div>
